@font-face {
  font-family: 'bebas_neueregular';
  src: url("../css/fonts/BebasNeue/bebasneue-regular.woff2") format("woff2"), url("../../css/fonts/BebasNeue/bebasneue-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandbold';
  src: url("../css/fonts/Quicksand/quicksand-bold.woff2") format("woff2"), url("../../css/fonts/Quicksand/quicksand-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandlight';
  src: url("../css/fonts/Quicksand/quicksand-light.woff2") format("woff2"), url("../css/fonts/Quicksand/quicksand-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandmedium';
  src: url("../css/fonts/Quicksand/quicksand-medium.woff2") format("woff2"), url("../css/fonts/Quicksand/quicksand-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandregular';
  src: url("../../css/fonts/Quicksand/quicksand-regular.woff2") format("woff2"), url("../css/fonts/Quicksand/quicksand-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #8fb9e3;
}

a:hover {
  color: #66a0d9;
}

.text-primary {
  color: #8fb9e3 !important;
}

.bg-blue {
  background: #569cd7;
}

.h-40 {
  height: 40px;
}

.content {
  min-width: 606px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'quicksandmedium', Arial, Helvetica, sans-serif;
}

.page-section {
  padding: 100px 0;
}

.page-section.section-about {
  background: #eeeeee url(../img/backgrounds/about-bg.png) no-repeat center;
  background-size: cover;
  min-height: 650px;
  margin-top: -7px;
}

.page-section.section-services {
  background: #569cd7 url(../img/backgrounds/services-bg.png) no-repeat center;
  background-size: cover;
}

.page-section .tit_before {
  border: 2px solid #569cd7;
  max-width: 40px;
  margin-bottom: 20px;
  display: block;
}

.page-section h2.section-heading {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 15px;
  font-family: 'quicksandmedium', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #233974;
}

.page-section h2.section-heading span {
  display: block;
}

.page-section p {
  font-weight: 400;
  font-size: 15px;
  font-family: 'quicksandlight', Arial, Helvetica, sans-serif;
  color: #707070;
}

.page-section .paragrap_before {
  position: relative;
}

.page-section .paragrap_before:before {
  content: "";
  position: absolute;
  border: 2px solid #d1d3d4;
  height: 30px;
  right: 0;
  top: 39px;
  margin-right: 9px;
}

.page-section .block-img {
  margin-top: -9px;
}

::-moz-selection {
  background: #8fb9e3;
  text-shadow: none;
}

::selection {
  background: #8fb9e3;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.btn {
  font-family: 'quicksandmedium', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 7px 30px;
}

.btn-primary {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #579cd8;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #1a2b57 !important;
  border-color: #1a2b57 !important;
  color: #233974;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.smooth-loader-wrapper {
  background: #569cd7;
  background: linear-gradient(135deg, #569cd7 45%, #27689f 70%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 600000;
}

.smooth-loader-wrapper .smooth-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2100;
  line-height: 0;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.smooth-loader-wrapper .smooth-loader .spinner-eff {
  position: relative;
  width: 70px;
  height: 70px;
}

.smooth-loader-wrapper .smooth-loader .spinner-eff:before,
.smooth-loader-wrapper .smooth-loader .spinner-eff:after {
  content: "";
  display: block;
}

.smooth-loader-wrapper .smooth-loader .spinner-eff .spinner-bar:before,
.smooth-loader-wrapper .smooth-loader .spinner-eff .spinner-bar:after {
  content: "";
  display: block;
}

@-webkit-keyframes rotation-top {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .5;
  }
  20% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: .5;
  }
}

@keyframes rotation-top {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .5;
  }
  20% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: .5;
  }
}

@-webkit-keyframes rotation-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .5;
  }
  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .5;
  }
  40% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: .5;
  }
}

@keyframes rotation-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .5;
  }
  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .5;
  }
  40% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: .5;
  }
}

@-webkit-keyframes rotation-bottom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .5;
  }
  40% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .5;
  }
  60% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: .5;
  }
}

@keyframes rotation-bottom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .5;
  }
  40% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .5;
  }
  60% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: .5;
  }
}

@-webkit-keyframes rotation-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .5;
  }
  60% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .5;
  }
  80% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: .5;
  }
}

@keyframes rotation-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .5;
  }
  60% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: .5;
  }
  80% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: .5;
  }
}

.smooth-loader-wrapper .smooth-loader .spinner-eff.spinner-eff-1 .bar {
  width: 0;
  height: 0;
  border: 35px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: .5;
}

.smooth-loader-wrapper .smooth-loader .spinner-eff.spinner-eff-1 .bar-top {
  border-top: 35px solid #fff;
  -webkit-animation: rotation-top 3.6s linear 0s infinite;
  animation: rotation-top 3.6s linear 0s infinite;
}

.smooth-loader-wrapper .smooth-loader .spinner-eff.spinner-eff-1 .bar-right {
  border-right: 35px solid #fff;
  -webkit-animation: rotation-right 3.6s linear 0s infinite;
  animation: rotation-right 3.6s linear 0s infinite;
}

.smooth-loader-wrapper .smooth-loader .spinner-eff.spinner-eff-1 .bar-bottom {
  border-bottom: 35px solid #fff;
  -webkit-animation: rotation-bottom 3.6s linear 0s infinite;
  animation: rotation-bottom 3.6s linear 0s infinite;
}

.smooth-loader-wrapper .smooth-loader .spinner-eff.spinner-eff-1 .bar-left {
  border-left: 35px solid #fff;
  -webkit-animation: rotation-left 3.6s linear 0s infinite;
  animation: rotation-left 3.6s linear 0s infinite;
}

.load {
  position: relative;
}

.loaded #preloader {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .7s ease-out;
  transition: all .7s ease-out;
}

.reveal-text {
  position: relative;
  white-space: nowrap;
  -webkit-animation-name: reveal-text;
  animation-name: reveal-text;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(1, 0.01, 0, 1);
  animation-timing-function: cubic-bezier(1, 0.01, 0, 1);
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
}

.reveal-text::after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(136, 156, 239, 0.3);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(1, 0.01, 0, 1);
  animation-timing-function: cubic-bezier(1, 0.01, 0, 1);
  -webkit-animation-name: revealer-text;
  animation-name: revealer-text;
}

@-webkit-keyframes reveal-text {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes reveal-text {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@-webkit-keyframes revealer-text {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
  51%,
  to {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

@keyframes revealer-text {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
  51%,
  to {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

@-webkit-keyframes tafFadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-35%, 0, 0);
    transform: translate3d(-35%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes tafFadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-35%, 0, 0);
    transform: translate3d(-35%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.tafFadeInLeft {
  -webkit-animation-name: tafFadeInLeft;
  animation-name: tafFadeInLeft;
}

@-webkit-keyframes tafFadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes tafFadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.tafFadeInRight {
  -webkit-animation-name: tafFadeInRight;
  animation-name: tafFadeInRight;
}

@-webkit-keyframes tafFadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes tafFadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.tafFadeInUp {
  -webkit-animation-name: tafFadeInUp;
  animation-name: tafFadeInUp;
}

@-webkit-keyframes tafFlipInY {
  0% {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(600px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, 45deg);
    transform: perspective(600px) rotate3d(0, 1, 0, 45deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, 20deg);
    transform: perspective(600px) rotate3d(0, 1, 0, 20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(600px) rotate3d(0, 1, 0, 0deg);
  }
  to {
    -webkit-transform: perspective(600px);
    transform: perspective(600px);
  }
}

@keyframes tafFlipInY {
  0% {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(600px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, 45deg);
    transform: perspective(600px) rotate3d(0, 1, 0, 45deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, 20deg);
    transform: perspective(600px) rotate3d(0, 1, 0, 20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(600px) rotate3d(0, 1, 0, 0deg);
  }
  to {
    -webkit-transform: perspective(600px);
    transform: perspective(600px);
  }
}

.tafFlipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: tafFlipInY;
  animation-name: tafFlipInY;
}

.card.card-accordion {
  border: 0;
  margin: 15px 0;
}

.card.card-accordion .card-header {
  padding: 0;
  border-radius: 0;
  border: 0;
}

.card.card-accordion .card-header h6 {
  position: relative;
}

.card.card-accordion .card-header h6 a:after {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card.card-accordion .card-header a {
  display: block;
  padding: 15px 27px 15px 20px;
  line-height: 24px;
  -webkit-transition: unset;
  transition: unset;
  background: #968ff4;
  background: linear-gradient(135deg, #968ff4 45%, #6ab6e5 70%);
  color: #fff;
}

.card.card-accordion .card-header a[data-toggle=collapse]:after {
  font-family: eleganticons;
  content: "\32";
  font-style: normal;
  speak: none;
  display: inline-block;
  float: right;
  line-height: 1;
  width: 22px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  right: 15px;
}

.card.card-accordion .card-header a.collapsed {
  line-height: 24px;
  color: #1d2025;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background: linear-gradient(180deg, #fff, #fff);
  border: 0;
}

.card.card-accordion .card-header a[data-toggle=collapse].collapsed:after {
  font-family: eleganticons;
  content: "\33";
  font-style: normal;
  speak: none;
  display: inline-block;
}

.card.card-accordion .card-block {
  padding: 30px 20px;
  font-size: 14px;
  line-height: 26px;
  border-radius: 0;
}

.btn {
  border: 0;
  border-radius: 2px;
  height: 52px;
  padding: 0 25px;
  font-size: 12px;
  line-height: 52px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media (min-width: 992px) {
  .btn {
    font-size: 14px;
  }
}

.btn.focus,
.btn:focus,
.btn.active,
.btn:active,
.btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-rounded {
  border-radius: 40px;
}

.btn i {
  font-size: inherit;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 2px;
}

.btn-primary:hover {
  background-color: #000;
  border: 1px solid #000;
  color: #ff7400;
}

.btn-primary:active,
.btn-primary:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  color: #889cef;
  border-color: #889cef;
}

.btn-outline-white {
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #fff;
}

.btn-outline-white:hover {
  background-color: #fff;
  color: #889cef;
}

.btn-outline-primary {
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #889cef;
  color: #889cef;
}

.btn-outline-primary:hover {
  background-color: #889cef;
  color: #fff;
  border-color: #889cef;
}

.btn-outline-primary:active {
  background-color: #889cef !important;
  color: #fff !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-icon {
  height: 77px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;
  position: relative;
  z-index: 1;
  background: #000;
}

.btn-icon:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.btn-icon:hover .icon .brand-icon-svg {
  fill: #d76311;
}

.btn-icon:hover .text h6,
.btn-icon:hover .text span {
  color: #d76311;
}

.btn-icon .icon {
  padding-right: 20px;
}

.btn-icon .icon .brand-icon-svg {
  fill: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#mainNav {
  background-color: #233974;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #233974;
  font-family: 'quicksandmedium', Arial, Helvetica, sans-serif;
}

#mainNav .navbar-brand {
  color: #8fb9e3;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #66a0d9;
}

#mainNav .navbar-brand h1 {
  padding: 0;
  margin: 0;
}

#mainNav .navbar-nav .nav-item .nav-link {
  position: relative;
  display: inline-block;
  outline: none;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 100%;
  text-transform: none;
  color: white;
  font-family: 'quicksandmedium', Arial, Helvetica, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffffff;
}

#mainNav .navbar-nav .nav-item .nav-link:after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

#mainNav .navbar-nav .nav-item .nav-link:before, #mainNav .navbar-nav .nav-item .nav-link:after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
}

#mainNav .navbar-nav .nav-item .nav-link:before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

#mainNav .navbar-nav .nav-item .nav-link:hover:before, #mainNav .navbar-nav .nav-item .nav-link:hover:after, #mainNav .navbar-nav .nav-item .nav-link:focus::before, #mainNav .navbar-nav .nav-item .nav-link:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav.navbar-shrink {
    background-color: #233974;
  }
  #mainNav.navbar-shrink .navbar-brand {
    padding: 0;
  }
}

.image-slider {
  position: absolute;
  top: 20%;
  right: 20%;
  max-width: 450px;
}

.image-slider div h2 {
  color: #ffffff;
  font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
  font-size: 58px;
  font-weight: bold;
}

.image-slider div h2 span {
  display: block;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
  left: 0;
}

.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  padding-top: 15px;
}

.owl-dots button.owl-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}

.owl-dots button.owl-dot.active {
  background-color: #8fb9e3;
}

.owl-dots button.owl-dot:focus {
  outline: none;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}

.owl-nav button:focus {
  outline: none;
}

header.masthead {
  position: relative;
  text-align: center;
  color: white;
  background-image: url("../img/backgrounds/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height: 750px;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'quicksandmedium', Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'quicksandmedium', Arial, Helvetica, sans-serif;
  }
}

#services .services-item {
  right: 0;
  margin: 0 0 15px;
}

#services .services-item .service-link {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  border: none;
  max-width: 300px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background: #ffffff;
  color: #579cd8;
  font-size: 18px;
  font-weight: bold;
  font-family: 'quicksandbold', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  cursor: pointer;
}

#services .services-item .service-link:hover {
  color: #8fb9e3;
}

#services .services-item .content-links {
  margin-bottom: 48px;
}

#services .services-item .section-heading {
  font-family: 'quicksandmedium', Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 60px;
}

#services * {
  z-index: 2;
}

@media (min-width: 767px) {
  #services .services-item {
    margin: 0 0 30px;
  }
}

.service-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.service-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.service-modal .modal-content h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.service-modal .modal-content p {
  margin-bottom: 30px;
}

.service-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.service-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.service-modal .modal-content img {
  margin-bottom: 30px;
}

.service-modal .modal-content button {
  cursor: pointer;
}

.service-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.service-modal .close-modal:hover {
  opacity: 0.3;
}

.service-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.service-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}

section#contact {
  background-color: #f1f1f1;
  background-image: url("../img/backgrounds/contact-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

section#contact .form-group input.form-control {
  height: 48px;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

section#contact .form-group textarea.form-control {
  height: 195px;
  border: 0;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

section#contact .form-control:focus {
  border-color: #8fb9e3;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section#contact .box-address {
  height: 195px;
  border: 0;
  background: #ffffff;
  padding: 20px;
}

section#contact .box-address p a {
  text-decoration: none;
  color: #495057;
}

section#contact .box-address p i {
  color: #233974;
  font-size: 18px;
}

section#contact .box-address .social {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

section#contact .box-address .social li a {
  display: block;
  padding: 10px;
}

section#contact .box-address .social li a i {
  color: #233974;
  font-size: 18px;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 300;
  color: #707070;
  font-family: 'quicksandlight', Arial, Helvetica, sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 300;
  color: #707070;
  font-family: 'quicksandlight', Arial, Helvetica, sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 300;
  color: #707070;
  font-family: 'quicksandlight', Arial, Helvetica, sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 300;
  color: #707070;
  font-family: 'quicksandlight', Arial, Helvetica, sans-serif;
}

section#contact #sendMessageButton {
  height: auto;
  background-color: #233974;
  border: 0;
  line-height: 30px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

section#contact #sendMessageButton:active, section#contact #sendMessageButton:focus, section#contact #sendMessageButton:hover {
  background-color: #1a2b57 !important;
  border-color: #1a2b57 !important;
  color: #ffffff;
}

.footer {
  text-align: center;
  background: #233974;
  width: 100%;
}

.footer .development {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'quicksandmedium', Arial, Helvetica, sans-serif;
}

.footer .development a {
  display: inline-block;
  margin-top: 10px;
}

.footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  color: #ffffff;
  text-transform: none;
  font-family: 'quicksandmedium', Arial, Helvetica, sans-serif;
}

.footer .scrollToTop {
  position: fixed;
  z-index: 999;
  bottom: 3em;
  right: 2em;
  background-color: #212529;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  -webkit-transition: all 1s;
  transition: all 1s;
  border-radius: 50%;
  padding: 10px;
  display: none;
  font-weight: 600;
  line-height: 5px;
}

.footer .up {
  background: url(../img/icons/up.png) center no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .masthead {
    min-height: 580px !important;
  }
  .masthead #mainNav .navbar-nav {
    margin-top: 0;
  }
  .image-slider {
    top: 33%;
    right: 0;
    width: 100%;
    left: 50%;
    -webkit-transform: translate(-30%);
    transform: translate(-50%);
    padding: 5%;
  }
  .image-slider div h2 {
    font-size: 40px;
  }
  .before_mobile {
    margin-top: 40px;
  }
  .content {
    min-width: 100%;
  }
  .page-section .paragrap_before:before {
    position: initial;
  }
  #contact #sendMessageButton {
    width: 100%;
  }
  #contact .box-address {
    margin-bottom: 20px;
  }
}
