// Styling for the contact section
section#contact {
  background-color: $white-gray;
  background-image: url('../img/backgrounds/contact-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  

  .form-group {
    margin-bottom: 25px;
    
    input,
    textarea {
      padding: 20px;
      font-family: Arial, Helvetica, sans-serif;
    }
    input.form-control {
      height: 48px;
      border: 0;
      font-family: Arial, Helvetica, sans-serif;
      
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
}
    textarea.form-control {
      height: 195px;
      border: 0;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }

  .box-address{
      height: 195px;
      border: 0;
      background: $white;
      padding: 20px;

      p{

        a{
          text-decoration: none;
          color: #495057;
        }
        i{
          color: $blue-default;
          font-size: 18px;
        }
      }

      .social{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;

        li{
          a{
            display: block;
            padding: 10px;

            i{
              color: $blue-default;
              font-size: 18px;
            }
          }
        }
      }
  }

 
  ::-webkit-input-placeholder {
    font-weight: 300;
    color: $gray-400;
    @include heading-font-light;
  }
  :-moz-placeholder {
    font-weight: 300;
    color: $gray-400;
    @include heading-font-light;
  }
  ::-moz-placeholder {
    font-weight: 300;
    color: $gray-400;
    @include heading-font-light;
  }
  :-ms-input-placeholder {
    font-weight: 300;
    color: $gray-400;
    @include heading-font-light;
  }

  #sendMessageButton{
    height: auto;
    background-color: $blue-default;
    border: 0;
    line-height: 30px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;

    
    &:active,
    &:focus,
    &:hover {
      background-color: darken($blue-default, 7.5%) !important;
      border-color: darken($blue-default, 7.5%) !important;
      color: $white;
    }
  }
}
