// Styling for the footer
.footer {
  text-align: center;
  background: $blue-default;
  width: 100%;

  .development{
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    @include heading-font;

    a{
      display: inline-block;
      margin-top: 10px;
    }
  }
  span.copyright {
    font-size: 90%;
    line-height: 40px;
    color: $white;
    text-transform: none;
    @include heading-font;
  }

  .scrollToTop {
    position: fixed;
    z-index: 999;
    bottom: 3em;
    right: 2em;
    background-color: #212529;
    text-transform: uppercase;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    transition: all 1s;
    border-radius: 50%;
    padding: 10px;
    display: none;
    font-weight: 600;
    line-height: 5px
}

.up {
    background: url(../img/icons/up.png) center no-repeat;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto
}
 
}
