// Styling for the portfolio section
#services {
  .services-item {
    right: 0;
    margin: 0 0 15px;
    .service-link {
      position: relative;
      display: block;
      height: 40px;
      line-height: 40px;
      border: none;
      max-width: 300px;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      background: $white;
      color: #579cd8;
      font-size: 18px;
      font-weight: bold;
      @include heading-font-bold;
      margin: 0 auto;
      cursor: pointer;

      &:hover {
        color: $primary;
        
      }
    }

    .content-links{
      margin-bottom: 48px;
    }

    .section-heading{
      @include heading-font;
      font-size: 34px;
      color: $white;
      margin-bottom: 60px;
    }
  }
  * {
    z-index: 2;
  }
}
@media(min-width:767px) {
  #services {
    .services-item {
      margin: 0 0 30px;
    }
  }
}

.service-modal {
  .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  .modal-content {
    padding: 100px 0;
    text-align: center;
    h2 {
      font-size: 2em;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 30px;
    }
    p.item-intro {
      font-size: 16px;
      font-style: italic;
      margin: 20px 0 30px;
      @include serif-font;
    }
    ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px;
    }
    img {
      margin-bottom: 30px;
    }
    button {
      cursor: pointer;
    }
  }
  .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      opacity: 0.3;
    }
    .lr {
      /* Safari and Chrome */
      z-index: 1051;
      width: 1px;
      height: 75px;
      margin-left: 35px;
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: $gray-900;
      .rl {
        /* Safari and Chrome */
        z-index: 1052;
        width: 1px;
        height: 75px;
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background-color: $gray-900;
      }
    }
  }
}
