// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 7px 30px;
}

.btn-primary {
  background-color: $primaryLink!important;
  border-color: $primaryLink!important;
  color: #579cd8;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($blue-default, 7.5%) !important;
    border-color: darken($blue-default, 7.5%) !important;
    color: $blue-default;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}

