// Styling for the navbar
#mainNav {
  background-color: $blue-default;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $blue-default;
    @include heading-font;
  }
  .navbar-brand {
    color: $primary;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }

    h1{
      padding: 0;
      margin: 0;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        position: relative;
        display: inline-block;
        outline: none;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        font-size: 100%;
        text-transform: none;
        color: white;
        @include heading-font;
        &.active,
        &:hover {
          color: $white;
        }

        &:after {
          margin-left: 10px;
          content: ']';
          -webkit-transform: translateX(-20px);
          -moz-transform: translateX(-20px);
          transform: translateX(-20px);
      }
        &:before, 
        &:after {
            display: inline-block;
            opacity: 0;
            -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
            -moz-transition: -moz-transform 0.3s, opacity 0.2s;
            transition: transform 0.3s, opacity 0.2s;
        }

        &:before{
          margin-right: 10px;
          content: '[';
          -webkit-transform: translateX(20px);
          -moz-transform: translateX(20px);
          transform: translateX(20px);
  
        }

        &:hover:before,
        &:hover:after, 
        &:focus::before, &:focus::after{
          opacity: 1;
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          transform: translateX(0px);
        }

     
        
      }


    }
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    .navbar-brand {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    &.navbar-shrink {
      background-color: $blue-default;
      .navbar-brand {
        padding: 0;
      }
    }
  }
}
