// Font Mixins
@mixin serif-font {
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@mixin body-font {
  font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
}
@mixin heading-font {
  font-family: 'quicksandmedium', Arial, Helvetica, sans-serif;
}

@mixin heading-font-light {
  font-family: 'quicksandlight', Arial, Helvetica, sans-serif;
}

@mixin heading-font-bold {
 font-family: 'quicksandbold', Arial, Helvetica, sans-serif;
 
}

