// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

.bg-blue{
  background: $bg-blue;
}

.h-40{
  height: 40px;
}

.content{
  min-width: 606px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  padding: 100px 0;

  &.section-about{
    background: #eeeeee url(../img/backgrounds/about-bg.png) no-repeat center;
    background-size: cover;
    min-height: 650px;
    margin-top: -7px;
  }

  &.section-services{
    background: $bg-blue url(../img/backgrounds/services-bg.png) no-repeat center;
    background-size: cover;
    
  }


  .tit_before{
    border: 2px solid #569cd7;
    max-width: 40px;
    margin-bottom: 20px;
    display: block;
  }
  h2.section-heading {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
    @include heading-font;
    font-weight: 400;
    color: $blue-default;

    span{
      display: block;
    }
  }
  p{
    font-weight: 400;
    font-size: 15px;
    @include heading-font-light;
    color: $gray-400;
    
  }

  .paragrap_before{
    position: relative;
  }

  .paragrap_before:before{
    content: "";
    position: absolute;
    border: 2px solid #d1d3d4;
    height: 30px;
    right: 0;
    top: 39px;
    margin-right: 9px;
  }

  .block-img{
    margin-top: -9px;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
