// Variables


@font-face {
    font-family: 'bebas_neueregular';
    src: url('../css/fonts/BebasNeue/bebasneue-regular.woff2') format('woff2'),
         url('../../css/fonts/BebasNeue/bebasneue-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'quicksandbold';
    src: url('../css/fonts/Quicksand/quicksand-bold.woff2') format('woff2'),
         url('../../css/fonts/Quicksand/quicksand-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandlight';
    src: url('../css/fonts/Quicksand/quicksand-light.woff2') format('woff2'),
         url('../css/fonts/Quicksand/quicksand-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandmedium';
    src: url('../css/fonts/Quicksand/quicksand-medium.woff2') format('woff2'),
         url('../css/fonts/Quicksand/quicksand-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandregular';
    src: url('../../css/fonts/Quicksand/quicksand-regular.woff2') format('woff2'),
         url('../css/fonts/Quicksand/quicksand-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
// Restated Bootstrap Variables

$white: #ffffff !default;
$white-gray: #f1f1f1 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #707070!default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$bg-blue: #569cd7;
$primary: #8fb9e3 !default;
$primaryLink: #ffffff !default;
$blue-default: #233974 !default;
